body {
    background-color: transparent;
}

div {
    margin: 45px auto;
    height: 340px;
    width: 480px;
    text-align: center;
}

img {
    margin: auto;
}

#message {
    margin: auto;
    color: #8600fd;
    font-size: 50px;
    font-family: Arial Black;
}

#giftThank {
    display: none;
}
