<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>礼物动图</title>
    <link rel="stylesheet" href="../../css/gif.css"
          th:href="@{/css/gif.css}" type="text/css" media="all">
    <link rel="stylesheet" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" type="text/css" media="all">
    <script type="text/javascript" src="../../js/jquery.min.js"
            th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="../../js/popper.min.js"
            th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../js/gif.js"
            th:src="@{/js/gif.js}"></script>
</head>

<body>
<div id='giftThank'>
    <img id='gif' src='../img/giphy.gif' alt="" />
    <p id='message'></p>
</div>
</body>

</html>